Repository TrainLCD/MobileApp, pull requests merged in 2020-03, with the labels that each got.

#12 メニュー表示を画面長押しに変更、新幹線の路線英字削除、依存関係アップデート
  package.json
  src/components/Layout/index.tsx
  src/index.tsx
  src/lineMark.ts
  src/navigators/Root.ts
  src/screens/Main/index.tsx
  src/screens/SelectLine/index.tsx
  src/translations.ts
  yarn.lock
Labels: enhancement

#13 リファクタリング・バグ修正・バックグラウンド復帰時の処理、駅名斜め表示、Expo 36対応
  .prettierrc
  app.json
  package.json
  src/components/Layout/index.tsx
  src/components/LineBoard/index.tsx
  src/screens/Main/index.tsx
  src/screens/SelectBound/index.tsx
  src/screens/SelectLine/index.tsx
  src/store/actions/locationAsync.ts
  src/store/actions/navigation.ts
  src/store/actions/navigationAsync.ts
  src/store/actions/stationAsync.ts
  src/store/index.ts
  src/store/reducers/navigation.ts
  src/store/types/navigation.ts
  src/translations.ts
  src/utils/loopLine.ts
  yarn.lock
Labels: bug, enhancement

#17 クソ長き駅名への配慮
  app.json
  src/components/Header/index.tsx
  src/components/LineBoard/index.tsx
  yarn.lock
Labels: enhancement

#18 Readme
  .github/images/youtube.png
  README.md
Labels: enhancement

#24 長い駅名があるときに駅名がぶれない＆刺さらないようにした
  app.json
  src/components/LineBoard/index.tsx
Labels: bug

#27 地下鉄を選択した時地下鉄線内は動作保証外であることをユーザーに知らせる
  assets/icons/subway.svg
  package.json
  src/components/SubwayWarning/index.tsx
  src/constants.ts
  src/models/BottomTransitionState.ts
  src/models/StationAPI.ts
  src/screens/Main/index.tsx
  src/screens/SelectLine/index.tsx
  src/store/actions/locationAsync.ts
  src/store/actions/navigationAsync.ts
  src/translations.ts
  yarn.lock
Labels: enhancement

#28 バグ修正と初回起動時警告文
  src/screens/SelectLine/index.tsx
  src/store/actions/locationAsync.ts
Labels: enhancement

#30 乗り換え画面の路線記号を登録されている分表示する
  src/components/Transfers/index.tsx
  src/lineMark.ts
Labels: enhancement

#31 JR西日本エリアの路線記号を画像化する
  assets/marks/jrw/a2.png
  assets/marks/jrw/b2.png
  assets/marks/jrw/b3.png
  assets/marks/jrw/c.png
  assets/marks/jrw/c2.png
  assets/marks/jrw/e2.png
  assets/marks/jrw/g2.png
  assets/marks/jrw/i.png
  assets/marks/jrw/j.png
  assets/marks/jrw/k.png
  assets/marks/jrw/l.png
  assets/marks/jrw/l2.png
  assets/marks/jrw/m.png
  assets/marks/jrw/n.png
  assets/marks/jrw/r2.png
  assets/marks/jrw/s2.png
  assets/marks/jrw/t.png
  assets/marks/jrw/t2.png
  assets/marks/jrw/u.png
  assets/marks/jrw/u2.png
  assets/marks/jrw/v.png
  assets/marks/jrw/v2.png
  assets/marks/jrw/w.png
  assets/marks/jrw/w2.png
  assets/marks/jrw/x.png
  assets/marks/jrw/y.png
  assets/marks/jrw/z.png
  src/lineMark.ts
Labels: enhancement

#33 メイン画面から戻るときにBottomStateをLINEに戻す
  src/screens/Main/index.tsx
  src/store/actions/navigation.ts
  src/store/actions/navigationAsync.ts
Labels: bug

#37 iPad対応と千葉モノレールのバグ修正
  app.json
  package.json
  src/components/Button/index.tsx
  src/components/Header/index.tsx
  src/components/LineBoard/index.tsx
  src/components/SubwayWarning/index.tsx
  src/components/TransferLineDot/index.tsx
  src/components/TransferLineMark/index.tsx
  src/components/Transfers/index.tsx
  src/components/TransfersForIPad/index.tsx
  src/constants.ts
  src/helpers/ipad.ts
  src/helpers/jr.ts
  src/lineMark.ts
  src/screens/Main/index.tsx
  src/store/actions/navigationAsync.ts
  src/utils/line.ts
Labels: bug, enhancement

#39 タップで画面遷移
  src/components/Transfers/index.tsx
  src/components/TransfersForIPad/index.tsx
  src/screens/Main/index.tsx
Labels: enhancement

#41 LineBoard英語表記対応とバグ修正、英語表示対応強化
  src/components/Header/index.tsx
  src/components/LineBoard/index.tsx
  src/models/StationAPI.ts
  src/screens/SelectBound/index.tsx
  src/store/actions/stationAsync.ts
  src/utils/katakanaToRomaji.ts
Labels: enhancement
